<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安心云 小护士</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<p class="text-center">
    <img src="images/logo.png" />
</p>
<div class="text-center">
<form action="/login" method="post" class="form-inline">
    <div class="form-group">
        <label>用户名:</label>
        <input type="text" name="username"/>
    </div>
    <div class="form-group">
        <label>密码:</label>
        <input type="password" name="password"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn ghost-btn">登录</button>
    </div>
</form>
</div>
</body>
</html>